@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    color: #ffa600;
}

body {
    padding: 1rem;
    background-color: #252525;
}